@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script>
  Weavy.url = "https://1ca4a5e812a34d64a17560d00f8b6181.weavy.io",
  Weavy.tokenFactory = async () => "@ViewBag.token"
</script>

<h1>External Chat </h1>

<div id="chat-container" style="height:600px;"></div>